# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment variables
.env
.env.*

# Application local states
window_state.json
app_config.json
config.dat
*.dat
cover.jpg
cover.png
folder.jpg
folder.png
*.log

# VS Code & IDEs
.vscode/
.idea/
